<!--<script type="text/javascript" src="./modules/login/view/js/login.js" ></script>-->
<!--<script type="text/javascript" src="./modules/login/view/js/signin.js" ></script>-->
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./frontend/modules/login/view/css/login.css">
<script type="text/javascript" src="./frontend/modules/login/directives/login.directives.js" ></script>

<body>

    <!-- Top content -->
    <div class="top-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-5">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Inicia sesión</h3>
                                <p></p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form  name="formulario_registro" novalidate="novalidate"  id="formulario-registro" class="registro">
                                <div class="form-group">
                                    <label class="sr-only" for="form-username">Usuario</label>
                                    <input type="text" name="nombre_singin"   ng-change="change_signin()" ng-model="signin.nombre" id="nombre_singin"  placeholder="Usuario..."  ng-pattern="myRegex_name" class="form-username form-control" required>
                                    <span class="text-danger" ng-show="formulario_registro.nombre_singin.$error.required && (formulario_registro.nombre_singin.$dirty || formulario_registro.nombre_singin.$touched)">Este campo es requerido</span>
                                    <span class="text-danger" ng-show="formulario_registro.nombre_singin.$error.pattern">Usuario no válido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="signin.nombre_error_sig">{{signin.nombre_error_sig}}</span>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="password_singin" ng-change="change_signin()" placeholder="Password..." ng-model="signin.password"  class="form-password form-control" ng-pattern="myRegex_password" id="password_singin" required>
                                    <span class="text-danger" ng-show="formulario_registro.password_singin.$error.required && (formulario_registro.password_singin.$dirty || formulario_registro.password_singin.$touched)">Este campo es requerido</span>
                                    <span class="text-danger" ng-show="formulario_registro.password_singin.$error.pattern">Password no válido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="signin.password_error">{{signin.password_error}}</span>
                                </div>


                                <input  id="boton" type="button"  name="boton" class="btn boton"   ng-disabled="formulario_registro.$invalid" value="Iniciar Sesión!" ng-click="singIn()"/>
                                <a ng-href="#/recovery"><label class="pull-right" id="recovery">Recuperar contraseña</label><!--ng-href="/recovery"--></a>
                            </form>
                        </div>
                    </div>

                    <div class="social-login">
                        <h3>...o inicia sesión con:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook"  
                               data-ng-click="IntentLogin()">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" ng-click="connectButton()"><!--id="twitter" href="#" data-ng-click="connectButton_tweet()"-->
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>

                </div>


                <div class="col-sm-1"></div>

                <div class="col-sm-5">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Registrate</h3>
                                <p></p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form name="formulario" novalidate="novalidate" id="formulario" class="contacto">
                                <div class="form-group">
                                    <label class="sr-only" for="form-first-name">Usuario</label>
                                    <input type="text" name="nombre" ng-change="change()" placeholder="Usuario..." ng-model="login.nombre" ng-pattern="myRegex_name" class="form-first-name form-control" id="nombre" required >
                                    <span class="text-danger" ng-show="formulario.nombre.$error.required && (formulario.nombre.$dirty || formulario.nombre.$touched)">Este campo es requerido</span>
                                    <span class="text-danger" ng-show="formulario.nombre.$error.pattern">Usuario no válido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="login.nombre_error">{{login.nombre_error}}</span>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Password</label>
                                    <input type="password" name="password" placeholder="Password..."  ng-model="login.password"  ng-pattern="myRegex_password"  class="password form-password form-control"  required id="password" >
                                    <span class="text-danger" ng-show="formulario.password.$error.required && (formulario.password.$dirty || formulario.password.$touched)">El campo es obligatori</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-show="formulario.password.$error.pattern">Password no válido</span>

                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="form-password">Confirma Password</label>
                                    <input type="password" name="password2" placeholder="Confirmar password..." password-check="password" ng-model="login.password2" ng-pattern="myRegex_password" class="password2 form-password form-control" required id="password2" >
                                    <span class="text-danger" ng-show="formulario.password2.$error.required && (formulario.password2.$dirty || formulario.password2.$touched)">El campo es obligatori</span>
                                    <span class="text-danger" ng-show="formulario.password2.$error.pattern">Password no es válido</span>
                                    <div class="msg-block" ng-show="formulario.$error">
                                        <span class="text-dange" id="red" ng-show="formulario.password2.$error.pwmatch">
                                            Passwords no coinciden
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" name="email"ng-change="change()" placeholder="Email..." class="email form-email form-control " ng-pattern="myRegex_email"  ng-model="login.email" required id="email" >
                                    <span class="text-danger" ng-show="formulario.email.$error.required && (formulario.email.$dirty || formulario.email.$touched)">El campo es obligatori</span>
                                    <span class="text-danger" ng-show="formulario.email.$error.pattern">Email no válido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="login.email_error" >{{login.email_error}}</span>
                                </div>

                                <div class="form-group">
                                    <label class="sr-only" for="form-about-yourself">Fecha Nacimiento</label>
                                    <div id="result">  <input calendar  ng-model='login.fecha_nac' id="fecha_nac" type="text" name="fecha_nac"  placeholder="Fecha Nac mm-dd-yyyy" />
                                        <!--<input calendar ng-model='login.fecha_registro' id="fecha_registro" type="text" name="fecha_registro"  placeholder="mm/dd/yyyy" hidden/>-->
                                        <!--<md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>-->

                                    </div>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="login.fecha">{{login.fecha}}</span></div>




                                <input  id="boton" type="button"  name="boton" class="btn boton"   ng-disabled="formulario.$invalid"value="Registrate!" ng-click="altaUser()"/>
                                <input type="hidden" name="token" value="formulario" />

                                <img ng-show="showLoader" src="./backend/media/ajax-loader.gif" alt="ajax loader icon" class="ajaxLoader" /><br/><br/>

                                <div id="resultMessage" ng-model="login.msg" >{{login.msg}}</div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>
