
<!--<script type="text/javascript" src="./modules/installation/view/js/list_install.js" ></script>-->
<link href="./frontend/modules/installation/view/css/installation.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/font-awesome/css/font-awesome.min.css">
<!--<link href="./modules/installation/view/css/jquery-ui.css" rel="stylesheet" />-->
<br>
<br>
<div class="container">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 class="last_match">INSTALACIONES</h2>
            <hr class="small">
        </div>
    </div><br>

    <div class="row">


        <form name="search_install" id="search_install" class="search_install">

           <center>
            
                  <div class="icon-addon addon-sm">
              
             <input type="text" value=""  ng-model="search" ng-change="filter()" placeholder="   Search instal ..." class="input_search" id="keyword" list="datalist">
               <label for="search" class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label>
             <div id="results_keyword"></div> 
                 </div>
          
             </center>
           
           
            <!--<div class="col-xs-6" >
               <input name="Submit" id="Submit" type="button" class="button_search" />
       
             </div>-->
        </form>

    </div>
    <br>
    <br>
    <br>
    <!-- modal window details_product -->
    <div id="install">

        <div class="row">
            <div class="col-md-4" ng-repeat="data in filtered = (list| filter:search) | startFrom:(currentPage - 1) * entryLimit | limitTo:entryLimit">
                <div class="thumbnail" >
                    <center>
                        <center>
                            <img class="rotarY" id="img_install"height="80" width="80"  src="./backend/media/{{data.avatar}}"></img>
                        </center>


                        <div class="caption">
                            <center><h3 id="nom_install" class="details">{{data.nombre}}
                                </h3></center><br>   
                            <center><label id="ub_install" class="details"></label>{{data.ubicacion}}</center><br>
                            <!--<center><label id="desc_install" class="details">{{data.descripcion}}</label></center><br>-->






                        </div>

                        <center>Valoración:
                            <img id="valoration_install" height="40" width="40"  src="./backend/media/{{data.valoracion}}"> </img>
                            <label id="ubicacion" > </label></br>
                            </br>


                        </center>


                        <center>
                            <p><a href="#/install_details/{{data.id}}" class='sub2' >Más Info </a></p>

                        </center>

                    </center>

                </div>

                <span ng-show="messageFailure">{{messageFailure}}</span>
            </div>

        </div>

        <div ng-show="filteredItems > 0">   
            <center>
                <div pagination="" page="currentPage"  on-select-page="setPage(page)" boundary-links="true" 
                     total-items="filteredItems" items-per-page="entryLimit"   max-size=3
                     class="pagination-sm" previous-text="&laquo;" next-text="&raquo;">
                </div>
            </center>
        </div>


    </div>
</div>
