<script type="text/javascript" src="./frontend/modules/users/view/js/admin_users.js" ></script>
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/font-awesome/css/font-awesome.min.css"> 
<link rel="stylesheet" type="text/css" href="./frontend/modules/users/view/css/styles.css">
 
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-2">PageSize:
                <select ng-model="entryLimit" class="form-control">
                    <option>5</option>
                    <option>10</option>
                    <option>20</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
            <div class="col-md-3">Filter:
                <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
            </div>
            <div class="col-md-4">
                <h5>Filtered {{ filtered.length}} of {{ totalItems}} total customers</h5>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-12" ng-show="filteredItems > 0">
                <nav class= "navbar navbar-default" role= "navigation" >
                    <div class= "navbar-header" >
                        <a class="btn btn-lg btn-success" href="#/admin_users_create"><i class="glyphicon glyphicon-plus"></i>&nbsp;Añadir nuevo user</a>
                    </div>
                </nav>

                <table class="table table-striped table-bordered">
                    <thead>
                    <th>Nombre&nbsp;<a ng-click="sort_by('nombre');"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th>Email&nbsp;<a ng-click="sort_by('email');"><i class="glyphicon glyphicon-sort"></i></a></th>

                    <th>Ciudad&nbsp;<a ng-click="sort_by('poblacion');"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th>Provincia&nbsp;<a ng-click="sort_by('provincia');"><i class="glyphicon glyphicon-sort"></i></a></th>
                   
                    <th>Fecha Registro&nbsp;<a ng-click="sort_by('fecha_registro');"><i class="glyphicon glyphicon-sort"></i></a></th>
                    <th>Accion&nbsp;</th>
                </thead>
                    <tbody>
                        <tr ng-repeat="data in filtered = (list| filter:search | orderBy : predicate :reverse) | startFrom:(currentPage - 1) * entryLimit | limitTo:entryLimit">
                            <td>{{data.nombre}}</td>
                            <td>{{data.email}}</td>
                       
                            <td>{{data.poblacion}}</td>
                             <td>{{data.provincia}}</td>
                            <td>{{data.fecha_registro}}</td>
                            <td><a id="icon_edit" href="#/edit_user/{{data.token}}" class="btn">&nbsp;
                                    <i class="glyphicon glyphicon-edit"></i>&nbsp; Edit</a>
                            <a id="erase"  ng-click="deleteUser(data.nombre)" class="btn">&nbsp;
                                <i class="glyphicon glyphicon-erase"></i>&nbsp; Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <span ng-show="messageFailure">{{messageFailure}}</span>

            <div class="col-md-12" ng-show="filteredItems == 0">
                <div class="col-md-12">
                   
                </div>
            </div>

            <div class="col-md-12" ng-show="filteredItems > 0">    
                <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" 
                     total-items="filteredItems" items-per-page="entryLimit" 
                     class="pagination-small" previous-text="&laquo;" next-text="&raquo;">
                </div>
            </div>
        </div>

        <d
    </center>
</div>
