<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/font-awesome/css/font-awesome.min.css"> 
<link rel="stylesheet" type="text/css" href="./frontend/modules/users/view/css/styles.css">




<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <div id="map_canvas" ui-map="model.myMap" class="map" ui-options="mapOptions">
            </div>
            <div ng-repeat="marker in myMarkers" ui-map-marker="myMarkers[$index]">
            </div>


            <div class="row" ng-show="!showResult()">
                Error : {{error}}
                Error Code: {{error.code}}
            </div>       
        </div>
        <div class="col-md-6" >
            <div class="bottom-buffer bottom-bordered top-buffer-40" style="padding-bottom:15px">
                <div class="form-inline right-buffer text-center">
                    <div class="row">
                        <div class="col-md-6" >
                            <div class="form-group">
                                <div class="btn-group datesBlock" data-toggle="buttons">                                                                              
                                    <div class="btn btn-default  dateSelector">                                            
                                        <label id="dias">Hoy</label><input type="radio" name="dateoption" id="date1" value="1453475364270" autocomplete="off">
                                    </div>

                                    <div class="btn btn-default  dateSelector">                                            
                                        <label id="dias">Mañana</label><input type="radio" name="dateoption" id="date2" value="1453561764270" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <a href="#/games_form" class="btn btn-dark btn-lg">Nueva partida</a>
                        </div>  
                    </div>  
                </div>
                    <br>
                
                </div>
                <div class="row">
                    <div class="col-md-6" >
                        <div class="form-inline right-buffer text-center top-buffer">
                            <div class="form-group left-buffer-info" >
                                <label for="filter" class="lead">Partidas </label><br>
                                <select  class="form-control" name="provincia"  placeholder="Provincia">
                                    <option value="1">Todas las partidas</option>
                                    <option value="2" selected>De mis deportes</option>
                                    <!--<option value="3">De mis amigos y grupos</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" >
                        <div class="form-group left-buffer-info" id="provincia-input">                        
                            <label for="provincia" class="lead">Provincia</label>
                            <select  class="form-control" name="provincia" id="provincia"  ng-options="item.nombre for item in provincia"  ng-change="selectCiudad()" ng-model="profile.provincia"placeholder="Provincia">
                                <option value="">Seleccione una provincia</option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="row" id="border">
                      <div infinite-scroll='scroll.nextPage()' infinite-scroll-disabled='scroll.busy' infinite-scroll-distance='1'>
    <div ng-repeat='item in scroll.items'>
      <span class='score'>{{item.nombre}}</span>
     
      
      <div style='clear: both;'></div>
    </div>
    <div ng-show='scroll.busy'>Loading data...</div>
  </div>
                          <div class="form-group">
                        <div id="results"></div>
                                                        <img src="" alt="ajax loader icon" class="ajaxLoader" />
                          </div>
                          </div>-->


                    <br>
                    <center> <div class="row" id="border"  >
                        <div ng-repeat="item in items" lazy-scroll="listData()" >
                            <div class="col-md-3">
                                <div id="hour" >{{item.hora}}</div>
                                <div id="img_deporte" ><img class="nombre_producto" ng-click="market_mov(item.i)" height="42" width="42" src="{{item.deporte}}"></div>
                            </div>
                            <div class="col-md-6">
                                <center><strong><label id="name_game" class="details">{{item.nombre_game}}</label></strong></center><br>
                                <center><p>{{item.descripcion}}</p></center>
                                <!--<center><strong><label id="ubicacion" class="details">{{item.ubicacion}}</label></strong></center><br>-->


                            </div>
                            <div style='clear: both;'></div>
                        </div>
                        <div ng-show='busy'>Loading data...</div>
                        <img src="./backend/media/Flecha.png" height="42" width="42" ng-show='flecha' ng-click="listData()" >
                    </div>
                        </center>
                </div>
            </div> 


        <!--<div class="row" id="border"infinite-scroll='scroll.nextPage()' infinite-scroll-disabled='scroll.busy' infinite-scroll-distance='1'>
<div ng-repeat='item in scroll.items'>
            <div class="col-md-3">
                <div id="hour" ></div>
                <div id="img_deporte" ></div>
            </div>
            <div class="col-md-6">
                <center><strong><label id="name_game" class="details">{{item.nombre}}</label></strong></center><br>
                <center><strong><label id="ubicacion" class="details"></label></strong></center><br>


            </div>
             <div style='clear: both;'></div>
</div>
<div ng-show='scroll.busy'>Loading data...</div>
</div>
        </div>
        </div> -->        
    </div>
</div>

</div>

</div>
