<!--<script type="text/javascript" src="./modules/users/view/js/users.js" ></script>-->
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="./frontend/modules/users/view/css/styles.css">
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.0.1/min/dropzone.min.js"></script>-->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/dropzone/3.8.4/css/dropzone.css">

<div class="top-content">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <h2 id="mi_perfil_" class="last_match">EDITAR DATOS PERSONALES</h2>
            </div>
            <hr class="small">
            <form class="form-horizontal" name="formulario"  id="formulario" >
                <div class="form-box" id="form-box">

                    <div class="col-sm-6">
                        <label  class="last_match" id="mi_perfil" >Datos Personales:</label></br>
                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Usuario:*</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" id="nombre" ng-model="profile.nombre" name="nombre" placeholder="Usuario" disabled>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-9">
                                <label  class="last_match" id="show_password" ng-click="open_password = !open_password">&nbsp;Modificar contraseña</label></br>
                            </div>
                        </div>
                        <div class="form-group" id="form_hidden" ng-hide="open_password">

                           <div class="form-group">
                                <label class="control-label col-xs-3" id="label_mi_perfil" >Password actual:</label>
                                <div class="col-xs-9">
                                    <input type="password" class="form-control" id="password_old"   ng-model="profile.password_old" name="password_old" placeholder="Password">

                                    
                                    <span class="text-danger"ng-show="AlertMessage" ng-model="profile.password_old_error">{{profile.password_old_error}}</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" id="label_mi_perfil" >Modificar Password:</label>
                                <div class="col-xs-9">
                                    <input type="password" class="form-control" id="password" name="password"  ng-model="profile.password"ng-pattern="myRegex_password" placeholder="Password">

                                    <span class="text-danger" ng-show="formulario.password.$error.pattern">Password no válido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="profile.password_error">{{profile.password_error}}</span>


                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3" id="label_mi_perfil" >Confirmar Password:</label>
                                <div class="col-xs-9">
                                    <input type="password" class="form-control" id="password2" name="password2" password-check="password"ng-pattern="myRegex_password" ng-model="profile.password2" placeholder="Confirmar Password">
                                    <span class="text-danger" ng-show="formulario.password2.$error.pattern">Password no válido</span>
                                    <span class="text-danger" ng-show="AlertMessage" ng-model="profile.password2_error">{{profile.password2_error}}</span>
                                    <div class="msg-block" ng-show="formulario.$error">
                                        <span class="text-dange" id="red" ng-show="formulario.password2.$error.pwmatch">
                                            Passwords no coinciden
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Genero:</label>
                            <div class="col-xs-2">


                                <div class="radio" ng-repeat="radius in profile.radii" id="selectradius-{{radius.id}}">
                                    <label>
                                        <input type="radio" name="radius" ng-change="handleRadioClick()" 
                                               ng-model="selectedValue.id" ng-checked="{{radius.checked}}"  value="{{radius.name}}">{{radius.name}}
                                    </label>
                                </div>
                            </div>

                        </div>



                        <div class="form-group">
                            <label class="control-label col-xs-3"  id="label_mi_perfil" >F. Nacimiento:*</label>
                            <div class="col-xs-9">
                                <input calendar id="fecha_nac" ng-model="profile.fecha_nac" type="text" name="fecha_nac" placeholder="Fecha de Nacimiento"  required>
                            </div>
                            <span class="text-danger" ng-show="AlertMessage" ng-model="profile.fecha">{{profile.fecha}}</span>
                        </div>



                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Cambia imagen perfil</label>
                            <div class="col-xs-9">
                                <span id="e_avatar" class="styerror"><br></span>

                                <form action="/file-upload"
                                      class="dropzone"
                                      id="my-awesome-dropzone"><div class="dropzone"  dropzone="dropzoneConfig"  id="file-dropzone">  </div></form>

                                <div id="progress">
                                    <div id="bar"></div>
                                    <div id="percent"></div>
                                </div>
                                <div id="progress">
                    <div id="bar"></div>
                    <div id="percent"></div>
                </div>

            <div class="msg"></div><td>
      


      
                                <br>
                                <span class="text-danger" ng-show="AlertMessage" ng-model="profile.img_error">{{profile.img_error}}</span>
                                <span class="msg" ng-show="AlertMessage" ng-model="profile.ok">{{profile.ok}}</span>

                            </div>
                        </div>

                    </div>  





                    <div class="col-sm-1"></div>

                    <div class="col-sm-6">


                        <label class="last_match" id="mi_perfil" >Por dónde juegas:</label></br>

                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >País:</label>
                            <div class="col-xs-9">
                                <input class="form-control" disabled name="pais"  ng-model="profile.pais" id="pais" placeholder="País">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Provincia:</label>
                            <div class="col-xs-9">
                                <select  class="form-control" name="provincia" id="provincia"  ng-options="item.nombre for item in provincia"  ng-change="selectCiudad()" ng-model="profile.provincia"placeholder="Provincia">
                                    <option value="">Seleccione una provincia</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Ciudad</label>
                            <div class="col-xs-9">
                                <select type="text" class="form-control" name="poblacion" ng-model="profile.ciudad"ng-options="item.poblacion for item in ciudades "placeholder="Poblacion" id="poblacion"> <option value="">Seleccione una ciudad</option></select>
                            </div>
                        </div>
                        <label class="last_match" id="mi_perfil" >Contacto:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></br>
                        <div class="form-group">

                            <label class="control-label col-xs-3" id="label_mi_perfil" >Teléfono:</label>
                            <div class="col-xs-9">
                                <input type="tel" class="form-control" placeholder="Teléfono"  ng-model="profile.telefono"id="telefono" ng-pattern="myRegex_tel"name="telefono">
                                <span class="text-danger" ng-show="formulario.telefono.$error.pattern">Telefono no válido</span>
                                <span class="text-danger" ng-model="profile.telefono_error">{{profile.telefono_error}}</span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Email:*</label>
                            <div class="col-xs-9">
                                <input type="email" class="form-control" placeholder="Email"  ng-model="profile.email"id="email" name="email"  ng-pattern="myRegex_email"required>
                                <span class="text-danger" ng-show="formulario.email.$error.required && (formulario.email.$dirty || formulario.email.$touched)">El campo es obligatori</span>
                                <span class="text-danger" ng-show="formulario.email.$error.pattern">Email no válido</span>
                                <span class="text-danger" ng-show="AlertMessage" ng-model="profile.email_error">{{profile.email_error}}</span>

                            </div>
                        </div>
                        <label class="last_match" id="mi_perfil" >Elige tus deportes:</label></br>
                        <div class="form-group">
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Nivel:</label>
                            <div class="col-xs-2">


                                <div class="radio deportes" ng-repeat="nivel in profile.nivel" id="selectradius-{{nivel.id}}">
                                    <label>
                                        <input type="radio" name="nivel" 
                                               ng-model="selectedValue_nivel.id" ng-checked="{{nivel.checked}}"ng-change="handleRadioClick_nivel()"   value="{{nivel.name}}">{{nivel.name}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"  >
                            <label class="control-label col-xs-3" id="label_mi_perfil" >Preferencias deportes:</label>
                            <div class="col-xs-2">

                                <div ng-repeat="deporte in profile.deportes" class="deportes">

                                    <input type="checkbox" ng-model="deporte.checked">{{deporte.name}}</td>
                                </div>


                            </div>
                            <br>


                        </div>

                        <div class="col-xs-offset-6 col-xs-9" id="margin_bottons">
                            <input type="button" class="btn btn-primary" name="boton" id="boton" ng-disabled="formulario.$invalid" ng-click="update()" value="Enviar">
                         
                        </div>

                        <div id="resultMessage" ng-model="profile.msg" >{{profile.msg}}</div>

                    </div>

            </form>
            <center><div class="col-xs-9 col-xs-9" id="margin_bottons">
                    <label class="control-label col-xs-3" id="label_mi_perfil" >*Campos obligatorios</label></div></center>
        </div>


    </div>


</div>



