
   
<section id="match" class="match bg-primary">
     
    <div class="container">
          
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                
                <h2 class="last_match">PARTIDAS</h2>
                <hr class="small">
                <div class="row">

                    <!-- <div class="col-xs-6 col-md-6 " id="colum">
                         <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>Volei.svg"></div>
                         <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>1.svg"></div>
                         <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>2.svg"></div></div>
                     <div class="col-xs-6 col-md-6 " id="colum">
                         <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>Volei.svg"></div>
                         <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>1.svg"></div>
                         <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>2.svg"></div></div>
 
 
                 </div><!-- row-->
                    <!-- <div class="row">
   
                       <div class="col-xs-6 col-md-6 " id="colum">
                           <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>Volei.svg"></div>
                           <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>1.svg"></div>
                           <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>2.svg"></div></div>
                       <div class="col-xs-6 col-md-6 " id="colum">
                           <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>Volei.svg"></div>
                           <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>1.svg"></div>
                           <div class="col-xs-6 col-md-4"><img class="img-portfolio img-responsive" src="<?php echo MAIN_IMG_PATH ?>2.svg"></div></div>
   
                    -->
                    <div class="col-sm-4"> 
                        <div class="form-box">
                            <div class="form-bottom contact-form">
                                <label id="posicion_partida" class="label label-default">Ontinyent</label>
                                <img  class="img-portfolio img-responsive" src="http://www.campuspalomino.com/wp-content/uploads/2014/04/balon-futbol-campo-casas-1.jpg"  alt="img_deporte"> </div>

                            <div class="form-bottom contact-form">

                                <div class="col-xs-6 col-md-6" id="propiedades">
                                    <div class="col-xs-6 col-md-6 ">
                                        <label class="blue_leter">Nivel:</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 ">
                                        <img class="" src="./frontend/modules/home/view/img/2.svg" height="42" width="42">
                                    </div>

                                </div>


                                <div class="col-xs-6 col-md-6 " id="propiedades">
                                    <div class="col-xs-6 col-md-6 "><label class="blue_leter">Nos Faltan:</label></div>
                                    <div class="col-xs-6 col-md-6 "><img class="" src="./frontend/modules/home/view/img/1.svg"height="42" width="42"> </div>
                                </div> 

                            </div>


                            <div class="form-bottom contact-form">


                                <div class="col-xs-6 col-xs-4" id="bottom_partidas"><label>Precio:</label></div>
                                <div class="col-xs-6 col-xs-4" id="bottom_partidas"><label>Finaliza en:</label></div>
                                <div class="col-xs-6 col-xs-4"id="btn_partida"><a  href=""><label id="juega">JUEGA</label></a></div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-4"> 
                        <div class="form-box">

                            <div class="form-bottom contact-form"> <label id="posicion_partida" class="label label-default">Ontinyent</label><img  class="img-portfolio img-responsive" src="http://www.campuspalomino.com/wp-content/uploads/2014/04/balon-futbol-campo-casas-1.jpg"  alt="img_deporte"> </div>

                            <div class="form-bottom contact-form">

                                <div class="col-xs-6 col-md-6" id="propiedades">
                                    <div class="col-xs-6 col-md-6 ">
                                        <label class="blue_leter">Nivel:</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 ">
                                        <img class="" src="./frontend/modules/home/view/img/2.svg" height="42" width="42">
                                    </div>

                                </div>


                                <div class="col-xs-6 col-md-6 " id="propiedades">
                                    <div class="col-xs-6 col-md-6 "><label class="blue_leter">Nos Faltan:</label></div>
                                    <div class="col-xs-6 col-md-6 "><img class="" src="./frontend/modules/home/view/img/1.svg"height="42" width="42"> </div>
                                </div> 

                            </div>


                            <div class="form-bottom contact-form">


                                <div class="col-xs-6 col-xs-4" id="bottom_partidas"><label>Precio:</label></div>
                                <div class="col-xs-6 col-xs-4" id="bottom_partidas"><label>Finaliza en:</label></div>
                                <div class="col-xs-6 col-xs-4"id="btn_partida"><a  href=""><label id="juega">JUEGA</label></a></div>
                            </div>


                        </div>
                    </div>
                    <div class="col-sm-4"> 
                        <div class="form-box">

                            <div class="form-bottom contact-form"> <label id="posicion_partida" class="label label-default">Ontinyent</label><img  class="img-portfolio img-responsive" src="http://www.campuspalomino.com/wp-content/uploads/2014/04/balon-futbol-campo-casas-1.jpg"  alt="img_deporte"> </div>

                            <div class="form-bottom contact-form">

                                <div class="col-xs-6 col-md-6" id="propiedades">
                                    <div class="col-xs-6 col-md-6 ">
                                        <label class="blue_leter">Nivel:</label>
                                    </div>
                                    <div class="col-xs-6 col-md-6 ">
                                        <img class="" src="./frontend/modules/home/view/img/2.svg" height="42" width="42">
                                    </div>

                                </div>


                                <div class="col-xs-6 col-md-6 " id="propiedades">
                                    <div class="col-xs-6 col+md-6 "><label class="blue_leter">Nos Faltan:</label></div>
                                    <div class="col-xs-6 col-md-6 "><img class="" src="./frontend/modules/home/view/img/1.svg"height="42" width="42"> </div>
                                </div> 

                            </div>


                            <div class="form-bottom contact-form">


                                <div class="col-xs-6 col-xs-4" id="bottom_partidas"><label>Precio:</label></div>
                                <div class="col-xs-6 col-xs-4" id="bottom_partidas"><label>Finaliza en:</label></div>
                                <div class="col-xs-6 col-xs-4"id="btn_partida"><a  href=""><label id="juega">JUEGA</label></a></div>
                            </div>


                        </div>
                    </div>
                </div>
                <br>


                <!-- row-->


                <a href="#" class="btn btn-dark">Ver más partidas</a>
            </div><!-- col-lg-10 -->
        </div><!-- row text-->
    </div><!-- container -->


</section>
 
 


<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="main_letrero">NOS FALTA UNO</h2>
                <p class="lead">¿Nunca puedes realizar tu deporte favorito porque no encuentras personas con 

                    quien practicarlo? :( <strong>“Nos Falta Uno”</strong> te ayudará a encontrarla :) 

                    Simplemente configurando unos fáciles parámetros, “Nos Falta Uno” te 

                    facilitará información de personas que como tú, necesitan de un compañero de 

                    equipo a una distancia próxima. <a target="_blank" href=""></a>.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<!--<aside class="callout">
    <div class="text-vertical-center">
        <h1>Vertically Centered Text</h1>
    </div>
</aside>

<!-- Portfolio -->
<hr class="blue">
<section id="portfolio">
    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <div class="col-lg-10 col-lg-offset-1 text-center">
                            <h2 class="last_match">MEJORES USUARIOS</h2>
                            <hr class="small">
                        </div>
                        <div class="anchor"></div>
                        <div class="row" id="index">
                            <div class="col-md-6" id="index1"><img class="img-avatar img-responsive" src="./frontend/modules/home/view/img/Avatar.png"></div>
                            <div class="col-md-6" id="index2"><img class="img-avatar img-responsive" src="./frontend/modules/home/view/img/Avatar.png"></div>
                            <div class="col-md-6" id="index3"><img class="img-avatar img-responsive" src="./frontend/modules/home/view/img/Avatar.png"></div>
                        </div>                            <a>
                            <center><img class="img-podium img-responsive" src="./frontend/modules/home/view/img/Podio.svg"></center>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="portfolio-item">
                        <div class="col-lg-10 col-lg-offset-1 text-center">
                            <h2 class="last_match">MEJORES INSTALACIONES</h2>
                            <hr class="small">
                        </div>
                        <div class="anchor"></div>
                        <div class="row" id="index">
                            <div class="col-md-6" id="index1"> <img class="img-avatar img-responsive" src="./frontend/modules/home/view/img/Avatar.png"></div>
                            <div class="col-md-6" id="index2"><img class="img-avatar img-responsive" src="./frontend/modules/home/view/img/Avatar.png"></div>
                            <div class="col-md-6" id="index3"><img class="img-avatar img-responsive" src="./frontend/modules/home/view/img/Avatar.png"></div>
                        </div>       
                        <a>
                            <center><img class="img-podium img-responsive" src="./frontend/modules/home/view/img/Podio.svg"></center>
                        </a>
                    </div>
                </div>

            </div>
            <!-- /.row (nested) -->

        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
    <!-- /.container -->
</section>
<hr class="blue">
<aside id="white">

    <!-- slider -->
    <div id="demo">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2 class="last_match">PATROCINADORES</h2>
                    <hr class="small">
                    <div class="span12">

                        <div id="owl-demo" class="owl-carousel" ng-carousel="{autoPlay:3000,items: 4,itemsDesktop: [1199, 3], itemsDesktopSmall: [979, 3]}"
>
                            <div class="item"><img src="./frontend/assets/img/logos/1.jpg" alt="Owl Image"></div>
                            <div class="item"><img src="./frontend/assets/img/logos/2.jpg"></div>
                            <div class="item"><img src="./frontend/assets/img/logos/3.jpg"></div>
                            <div class="item"><img src="./frontend/assets/img/logos/4.jpg"></div>
                            <div class="item"><img src="./frontend/assets/img/logos/5.jpg"></div>
                            <div class="item"><img src="./frontend/assets/img/logos/6.jpg"></div>
                            <div class="item"><img src="./frontend/assets/img/logos/7.jpg"></div>
                            <div class="item"><img src="./frontend/assets/img/logos/8.jpg"></div>

                        </div>
                    </div>
                </div>

            </div>
            </aside>
            <hr class="blue">
            <!-- Call to Action -->
            <!--<aside class="call-to-action bg-primary">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <h3>The buttons below are impossible to resist.</h3>
                            <a href="#" class="btn btn-lg btn-light">Click Me!</a>
                            <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
                        </div>
                    </div>
                </div>
            </aside>
            
            <!-- Map -->
            <!--<section id="contact" class="map">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
                <br />
                <small>
                    <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
                </small>
                </iframe>
            </section>-->

            <!--///////////////////////////////////////////////////-->

         
  