#label_mi_perfil{
    color: #081B42;

}
#mi_perfil{
    color:#00AF27;
    font-size: 30px;
    font-weight: normal;
    margin-left: 0px;
}

#mi_perfil_{
    color:#00AF27;
    margin-top: 50px;
}

#form-box {
    margin-top: 70px;
    margin-bottom: 5%;
    border: 0px solid #ddd;
}
#dropzone{
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
}

.dropzone {
    border: 1px solid rgba(0,0,0,0.03);
    min-height: 160px !important;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0,0,0,0.03);
    padding: 23px;
}
#color_blue{color:#081B42;}
#menu_admin{
    margin-bottom: 30px;
}

#telefono,#email{
    height: 50px;

    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;

}
#pais{
    width: 100%;
}

.msg{
    color: green;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    //position: absolute;
    right: -155px;
    text-transform: uppercase;
    min-width: 121px;
}
.msg_ok{
    background: #589D05;
}
.msg_error{
    background: red;
    color:white;
}
#e_avatar{
    color:#081B42;
}

.dz-remove{
    color:#081B42;
}.dz-remove:hover{
    color:red;
}

.dropzone .dz-preview {
    position: relative;
    display: inline-block;
    vertical-align: top;
    //margin: 16px;
    min-height: 100px;
}

.dropzone .dz-preview .dz-image {
    border-radius: 20px;
    overflow: hidden;
    width: 120px;
    height: 120px;
    // position: relative;
    display: block;
    z-index: 10;
}

.styerror{
    color:red;
}

#show_password:hover{
    color: #00AF27;
    text-decoration:underline;
    text-align: left !important;
}

#fecha_nac{
    width: 100%;
}
#margin_bottons{
    margin-bottom: 10px;
}
////////////////////////////////////////////my_profile

#map{height: 100%; width:100%;}
.map-fixed {
    position: fixed;                
    overflow: visible;                                
    margin-top: 0!important;
    top: 56px;
    height: 94%;                
    border-left: 0;                
    padding: 0px;                
}
.results-interesting{
    box-shadow: -1px 0 0px rgba(0,0,0,0.3); 
    -webkit-box-shadow: -1px 0 0px rgba(0,0,0,0.3);

}
#interesting-results{
    font-size: 1.2em;
}
body{background:white;}
.event-level strong{
    line-height: 1.0;
}


#border{
 border: 1px solid grey white 1px solid grey white;
   

}

.aling{
    text-align: left !important;
}

.deportes, #deportes{
   text-align: left !important; 
   margin-left: 0px !important; 
}

#red{
    color:#a94442 !important;
}

#dias{
     color:#081B42 !important;
}.animate-me {
  border: 1px solid;
  border-radius:5px;
  width: 80px;
  padding: 4px;
  background-color: gray;
  box-shadow: 8px 8px 5px #888888;
}

.animate-me.ng-hide-add {
  opacity: 1.0;
  display: block !important;
  transition: opacity 3s;
}

.animate-me.ng-hide-add-active { 
  opacity: 0;
}

.dropzone {
    background:#C9C9C9 !important;
}