<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/style.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/font-awesome/css/font-awesome.min.css">
<!--<link rel="stylesheet" type="text/css" href="./modules/users/view/css/styles.css">-->




<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 ">
            <div id="map_canvas" ui-map="model.myMap" class="map" ui-options="mapOptions">            
            </div>
            <label for="provincia" class="lead">Si tienes problemas para visualizar el mapa, porfavor refresca la pestaña de tu navegador</label>
        </div>
        <form  name="create_install_form" id="create_ins_form">
        <div class="col-md-6" >
            <div class="bottom-buffer bottom-bordered top-buffer-40" style="padding-bottom:15px">
                <div class="row">
                    <div class="col-md-6" >
                        <h3><label for="provincia" class="text-danger">Todos los campos son requeridos</label></h3>
                        <!--Nombre de la instalacion-->
                        <div class="form-group left-buffer-info">
                            <label for="provincia" class="lead">Nombre de la instalacion</label>
                            <input name="name_installation" type="text" id="name_installation" class="contact-email form-control" placeholder="Nombre de la instalacion" ng-model="create_ins.nombre" required>
                            <span class="text-danger" ng-show="create_install_form.name_installation.$error.required && (create_install_form.name_installation.$dirty || create_install_form.name_installation.$touched)">Este campo es obligatorio</span>
                            <div ng-model="create_ins.e_name_installation" class="text-danger">{{create_ins.e_name_installation}}</div>
                        </div>

                        <!--Provincia de la instalacion-->
                        <div class="form-group left-buffer-info" id="provincia-input">
                            <label for="provincia" class="lead">Provincia</label>
                            <select  class="form-control" name="provincia" id="provincia"  ng-options="item.nombre for item in provincia"  ng-change="poblaciones()" ng-model="create_ins.provincia">
                                <option value="">Seleccione provincia</option>
                            </select>
                            <div ng-model="create_ins.e_provincia" class="text-danger">{{create_ins.e_provincia}}</div>
                        </div>

                        <!--Poblacion de la instalacion-->
                        <div class="form-group left-buffer-info" id="poblacion-input">
                            <label for="provincia" class="lead">Provincia</label>
                            <select  class="form-control" name="poblacion" id="poblacion" ng-change="geocodeAddress()" ng-options="item.poblacion for item in poblacion" ng-model="create_ins.poblacion">
                                <option value="">Seleccione poblacion</option>
                            </select>
                            <div ng-model="create_ins.e_poblacion" class="text-danger">{{create_ins.e_poblacion}}</div>
                        </div>
                        
                        <label for="descripcion" class="lead">¿Qué servicios ofrece?</label>
                        <textarea placeholder="Describe brevemente las instalaciones" maxlength="255" rows="4" cols="50" class="form-control" name="descripcion" ng-model="create_ins.descripcion" required></textarea>
                        <span class="text-danger" ng-show="create_install_form.descripcion.$error.required && (create_install_form.descripcion.$dirty || create_install_form.descripcion.$touched)">Este campo es obligatorio</span>
                        <div ng-model="create_ins.e_descripcion" class="text-danger">{{create_ins.e_descripcion}}</div>

                        <!--Valoracion de la instalacion-->
                        <!--<div class="form-group left-buffer-info">
                            <input name="points_installation" type="text" id="places_number" class="contact-email form-control size_input_games" placeholder="Puntos" ng-model="installation.places_number">
                            <span class="text-danger" ng-show="create_install_form.places_number.$error.required && (create_install_form.places_number.$dirty || create_install_form.places_number.$touched)">Este campo es obligatorio</span>
                            <div ng-model="installation.e_places_number" class="text-danger">{{installation.e_places_number}}</div>
                        </div>-->

                        <!--button send info instalacion-->
                        <div class="form-group left-buffer-info">
                            <button type="button" class="btn" name="boton" id="boton" ng-click="create_install()">Crear instalacion</button>
                            <div ng-model="installation.e_send" class="text-danger">{{installation.e_send}}</div>
                            <button type="button" class="btn" name="boton_delete" id="boton_delete" ng-click="deleteMarkers();">Borrar posicion mapa</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
