<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/form-elements.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/css_formularios/stylesgames.css">
<link rel="stylesheet" type="text/css" href="./frontend/assets/font-awesome/css/font-awesome.min.css">  
<link rel="stylesheet" href="./frontend/assets/lib/jquery-timepicker-master/jquery.timepicker.css">
<script type="text/javascript" src="./frontend/assets/lib/jquery-timepicker-master/jquery.timepicker.min.js" ></script>
<!--<script type="text/javascript" src="./modules/games/view/js/games.js" ></script>
<link rel="stylesheet" href="./modules/games/view/js/jquery.timepicker.css">
<script type="text/javascript" src="./modules/games/view/js/jquery.timepicker.min.js" ></script>-->

<!--<script type="text/javascript" src="./modules/games/view/js/games.js" ></script>-->




<div class="form-top">
    
    <div class="form-top-left">
        <h3>Nueva Partida</h3>                        
    </div>
    <div class="form-top-right">
        <i class="fa fa-futbol-o"></i>
    </div>


    <div class="row">
    <form  name="game_formulary" id="game_form">
      <!--configuracion 1-->
      <div class="container">     
        <table class="table">
          <thead>
            <tr>
              <h3>Paso 1: Nombre y Deporte</h3>                                                          
            </tr>
          </thead>
          
          <tbody>
            <!--nombre-->
            <tr>
              <td><h4><label class="games_size" for="games-nombre">Asigna un Nombre</label></h4></td>
              <td>
                  <input name="gamename" ng-change="setvalues()" type="text" id="gamename" class="contact-email form-control" placeholder="Nombre de la partida" ng-model="partida.gamename" required>
                  <span class="text-danger" ng-show="game_formulary.gamename.$error.required && (game_formulary.gamename.$dirty || game_formulary.gamename.$touched)">Este campo es obligatorio</span>
                  <div ng-model="partida.e_gamename" class="text-danger">{{partida.e_gamename}}</div> 
              </td>
            </tr>
            <!--fin nombre-->
            
            <!--deporte-->
            <tr>
                <td><h4><label class="selectpicker games_size" for="games-deporte">Escoja un deporte</label></h4></td>
              <td>
                <select class="contact-subject form-control size_input_games" name="sport" id="type_sport" readonly ng-model="partida.sport">
                    <optgroup label="deporte">
                        <option value="futbol">Futbol</option>
                        <option value="baloncesto">Baloncesto</option>
                        <option value="voleibol">Voleibol</option>
                        <option value="tenis">Tenis</option>
                        <option value="padel">Padel</option>
                    </optgroup>
                </select>
              </td>
            </tr>
            <!--fin de porte-->            
          </tbody>
        </table>
      </div>
    <!--fin configuracion 1-->
    
    <script type="text/ng-template" id="customTemplate.html">
      <a>
          <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
          <i>({{match.model.nombre}})</i>
      </a>
    </script>
    <!--configuracion 2-->
    <div class="container">        
        <table class="table">
          <thead>
            <tr>
              <h3>Paso 2: ¿Dónde y Cuándo?</h3>       
            </tr>
          </thead>
          <tbody>
            <!--Provincias-->
            <tr>
              <td><h4><label class="games_size" for="games-provincia">Seleccione la Provincia de la Instalación</label></h4></td><!--class="selectpicker"-->
                    <td><select id="provincia" ng-change="load_poblaciones_v1()" ng-options="item.nombre for item in provincia" class="contact-province form-control size_input_games" name="provincia" ng-model="partida.provincia">
                            <option value="">Seleccione provincia</option>                              
                        </select>
              <div ng-model="partida.e_province" class="text-danger">{{partida.e_province}}</div></td>        
            </tr>
            <!--fin Provincias-->

            <!--Poblaciones-->  
            <tr>
                <td><h4><label class="games_size" for="games-poblacion">Seleccione la Poblacion de la Instalación</label></h4></td><!--class="selectpicker" ng-change="change()"-->
                <td><select id="poblacion" ng-change="filter()" ng-options="item.poblacion for item in poblacion" class="contact-city form-control size_input_games" name="poblacion" ng-model="partida.poblacion">
                                <option value="">Seleccione poblacion</option>
                            </select>
                  <div ng-model="partida.e_population" class="text-danger">{{partida.e_population}}</div></td>        
            </tr>
            <!--fin Poblaciones-->  

            <!--instalacion-->
            <tr>
                <td>
                    <h4><label class="games_size" for="games-instalacion">Instalacion</label></h4>
                </td>
                <td><!--c as c.inst for c in suggestions-->
                    <input type="text" ng-model="partida.contact_install" placeholder="Empieza a escribir el nombre de la instalación" name="contact_install" id="contact_install"
                    typeahead="c as c.nombre for c in suggestions | filter:$viewValue | limitTo:10" 
                    typeahead-min-length='1' 
                    typeahead-on-select='onSelectPart($item, $model, $label)' 
                    typeahead-template-url="customTemplate.html" class="contact-email form-control" 
                    >
                    <!--<input name="contact_install" type="text" id="contact_install" ng-model="partida.contact_install" class="contact-email form-control" placeholder="Empieza a escribir el nombre de la instalación"><!--class="input_search ng-pristine ng-valid ng-touched" ng-repeat="x in names | filter : partida.contact_install" angucomplete-alt local-data="name_install" search-fields="0" -->            
                    <span class="text-danger" ng-show="game_formulary.contact_install.$error.required && (game_formulary.contact_install.$dirty || game_formulary.contact_install.$touched)">Este campo es obligatorio</span>
                    <div ng-model="partida.e_install" id="e_contact_install" class="text-danger">{{partida.e_install}}</div>
                    <label for="anadir">No lo encuentras?</label> <a href="#/create_install"><button type="button" id="btn_games_form" class="btn">Añadelo!</button></a><!-- ng-href="#/create_install" class="selectpicker"  class="btn_games_form"-->
                </td>             
            </tr>
            <!--fin instalacion-->
            
            <!--comentarios zona de encuentro-->  
            <tr>
                <td><h4><label class="games_size" for="games-zona">Zona de encuentro</label></h4></td>
                <td><textarea placeholder="Describe la zona de encuentro..." ng-change="setvalues()" maxlength="255" rows="4" cols="50" class="form-control" name="zona" ng-model="partida.zona"></textarea>
                <span class="text-danger" ng-show="game_formulary.zona.$error.required && (game_formulary.zona.$dirty || game_formulary.zona.$touched)">Este campo es obligatorio</span>
                <div ng-model="partida.e_zona" class="text-danger">{{partida.e_zona}}</div>
                </td>                                
            </tr>
            <!--fin comentarios zona de encuentro-->  
            
            <!--dia de la partida-->
            <tr>
                <td><h4><label class="games_size" for="games-dia">Dia de la partida</label></h4></td>
                <td>
                    <input id="day_game" calendario type="text" ng-change="setvalues()" name="days_game" placeholder="Dia de la partida" readonly class="contact-email form-control size_input_games" ng-model="partida.days_game">
                    <span class="text-danger" ng-show="game_formulary.days_game.$error.required && (game_formulary.days_game.$dirty || game_formulary.days_game.$touched)">Este campo es obligatorio</span>
                    <div ng-model="partida.e_days_game" class="text-danger">{{partida.e_days_game}}</div>
                    <div id="result"></div> 
                </td>                
            </tr>
            <!--fin dia de la partida-->
            
            <!--hora-->
            <tr>
                <td><h4><label class="games_size" for="games-instalacionhora">Hora</label></h4></td>
                <td>
                    <input name="times_start" timepiker_start ng-change="setvalues()" type="text" id="time_start" class="contact-email form-control size_input_games" placeholder="Hora de inicio" ng-model="partida.times_start">            
                    <span class="text-danger" ng-show="game_formulary.times_start.$error.required && (game_formulary.times_start.$dirty || game_formulary.times_start.$touched)">Este campo es obligatorio</span>
                    <div ng-model="partida.e_times_start" class="text-danger">{{partida.e_times_start}}</div>
                </td>                
            </tr>
            <!--fin hora-->
            
            <!--duracion-->
            <tr>
                <td><h4><label class="games_size" for="games-duracion">Duración</label></h4></td>
                <td>
                    <input name="durations" timepiker_duration ng-change="setvalues()" type="text" id="duration" class="contact-email form-control size_input_games" placeholder="Duracion" ng-model="partida.durations">                       
                    <span class="text-danger" ng-show="game_formulary.durations.$error.required && (game_formulary.durations.$dirty || game_formulary.durations.$touched)">Este campo es obligatorio</span>
                    <div ng-model="partida.e_durations" class="text-danger">{{partida.e_durations}}</div>
                </td>                
            </tr>
            <!--fin duracion-->
            </tbody>
        </table>
    </div>
        <!--fin configuracion 2-->
        
    <!--configuracion 3-->
    <div class="container">                   
        <table class="table">
          <thead>
            <tr>
              <h3>Paso 3: Configuracón</h3>           
            </tr>
          </thead>
          <tbody>
            <!--numero de plazas--> 
            <tr>
                <td><h4><label class="games_size" for="games-plazas">Numero de plazas</label></h4></td>
              <td>
                <input name="places_number" type="text" ng-change="setvalues()" id="places_number" class="contact-email form-control size_input_games" placeholder="Plazas" ng-model="partida.places_number">
                <span class="text-danger" ng-show="game_formulary.places_number.$error.required && (game_formulary.places_number.$dirty || game_formulary.places_number.$touched)">Este campo es obligatorio</span>
                <div ng-model="partida.e_places_number" class="text-danger">{{partida.e_places_number}}</div>  
              </td>              
            </tr>
            <!--fin numero de plazas--> 
            
            <!--tipo de entrada-->
            <tr>
                <td><h4><label class="games_size" for="entrada">Seleccione el tipo de entrada al recinto</label></h4></td>
              <td>
                    <div class="radio">
                        <label><input name="enter" type="radio" value="gratuito" checked ng-model="partida.enter">Gratuita</label>
                    </div>
                    <div class="radio">
                        <label><input name="enter" type="radio" value="pago" ng-model="partida.enter">Pago</label>
                    </div>
                    <!--catidad de entrada--> 
                    <input name="price" type="text" id="price_cash" class="contact-email form-control size_input_games" placeholder="Precio" ng-show="partida.enter==='pago'" ng-model="partida.price">
                    <span class="text-danger" ng-show="game_formulary.price.$error.required && (game_formulary.price.$dirty || game_formulary.price.$touched)">Este campo es obligatorio</span>
                    <div ng-model="partida.e_price" class="text-danger">{{partida.e_price}}</div>
                    <!--fin catidad de entrada--> 
              </td>             
            </tr>
            <!--fin tipo de entrada-->                        
            
            <!--enviar-->             
            <tr>
              <td></td>
              <td><button type="button" class="btn" name="boton" id="boton" ng-click="create_game()">Enviar Partida</button>
              <div ng-model="partida.e_send" class="text-danger">{{partida.e_send}}</div></td>              
            </tr>
            <!--enviar--> 
          </tbody>
        </table>
    </div>
    <!--fin configuracion 3-->
    </form>
    </div>
</div>
